/* header */
header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 410px;
}
h1 {
  padding: 170px; /*marge interieur (inverse margin exterieur)*/
  font-weight: bold; /*le gras du texte*/
  font-size: 80px; /*taille du texte*/
  font-family : "Verdana", serif;
}
#menucolor {
  background: #309696; /*barre bleu*/
  height: 50px;
  padding: 10px;
  font-weight: bold;
  border: solid 2px;
}
li, form {
  display: inline;
  margin: 30px; /*espace entre le nom dans le menu*/
  list-style-type : none; /*retirer surlignage des liens*/
}
#search {
  margin: 400px;
}
a {
  text-decoration: none;
  color: #ffffff; /*texte blanc*/
  font-size: 20px;
  font-family : "Verdana", serif;
}
a:hover {
  border:  solid 22px green;
  background-color: green;
}
