/* header */
header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 410px;/*hauteur hearder*/
}
h1 {
  padding: 170px; /*marge interieur (inverse margin exterieur)*/
  font-weight: bold; /*le gras du texte*/
  font-size: 80px; /*taille du texte*/
  font-family : "Verdana", serif;
  /* Nav */
}
#menucolor {
  background: #309696; /*barre bleu*/
  height: 50px;
  padding: 10px;
  font-weight: bold;
  border: solid 2px;
}
li, form {
  display: inline;
  margin: 30px; /*espace entre le nom dans le menu*/
  list-style-type : none; /*retirer surlignage des liens*/
}
#search {
  margin: 200px;
}
a {
  text-decoration: none;
  color: #ffffff; /*texte blanc*/
  font-size: 20px;
  font-family : "Verdana", serif;
  border-right: solid 2px #020202;
  padding-right: 50px;
  padding-top: 26px;/*rallongé ligne par le haut*/
  padding-bottom: 20px;/*rallongé ligne par le bas*/
}
a:hover { /*lorsque je survole les items*/
  border:  solid 20px green;
  background-color: green;
}
/* presentation */
#presentation {
  background-color: #95d0f4;
  height: 80px;
  padding: 20px;
}
#textpresentation {
  font-size: 20px;
  font-family : "Verdana", serif;
  text-align: justify;
}
/* 3 images */
p {
  text-align: justify;
}

#blockline {
  display: flex;
}
img {
  width:75%;
}
.bloc {
text-align: center;
  margin: 15px 10px;
  width: 30%;
}
.textBloc{
  text-align: center;
}

        /*Media queries*/
@media screen and (max-width: 992px){
  #blockline{
    flex-direction: column;
  }
}
@media screen and (max-width: 680px){
  /* masquer les éléments de la nav barre */
  a, form{
    display: none;
  }
  /* Affiche l'icone menu-burger */
  #navIcon{
    display: block;
  }
}
